body {
    width: 1000;
    margin:auto;
    height: auto;
    overflow: auto;
}
.container-header{
    display: flex;
    flex-wrap: nowrap;
}
img{
    align-self: center;
    max-width: 100%;
    height: auto;
    padding: 0 4rem 0 0;
}
h2{
    padding: 1rem 0 0 4rem;
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    flex:2;
    border-bottom: 4px solid #c7c7c7;
}
.options{
    color: #777;
    font-size: 1.3vw;
    font-family: Arial, Helvetica, sans-serif;
    left: 1rem;
    padding: 0 0 1.35vw 0;
}
.spt-opt{
    padding: 2vw;
    margin: 2vw;
}
.img-title{
    border: 2px solid #ddd;
}
.img-title h3{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 2vw;
}
.img-title p{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 1.2vw;
}

.jumbo {
    background-image: url('../images/dog.jpg');
    height: 30rem;
    max-width: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.top-news{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 0 2rem 0 2rem;
}
.top-news div{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    font-size: 1.4rem;
    padding: 1rem;
}
.headlines{
    
    max-width: 100%;
    height: auto;
    display: flex;
    border-bottom: 2px solid #ddd;
    padding:0 0 0 0;
    flex-direction: column;
}
.headlines div{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    border-bottom: 2px solid #ddd;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}
.sports{
    display: flex;
    flex-direction: row;
}
.sports div{
    flex:1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#999;
    font-size: 1.1rem;
    padding: 1.05rem 0 1.2rem 0;
}
.sports-grid{
    display: grid;
    grid-template-columns: auto 20rem auto auto auto;
}
.sports-grid div{
    color: black;
    text-align: center;
    font-size: 1.1rem;
    padding: 0 0 2rem 0;
}

