body {
    max-width: 100%;
    margin:auto;
}

.container-header{
    border-bottom:2px solid #c7c7c7;
    margin-top: 80px;
}
.img-logo{
    width: 7rem;
    object-fit: contain;
    padding-right: 1.5rem;
}
h2{
    display: inline;
    font-size: 5.6rem;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 20px;
    left:30px;
}
.options{
    color: #777;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    left: 1rem;
    padding: 2vw 0 1.35vw 0;
}
.spt-opt{
    padding: 5vw;
    margin: 2vw;
}
.img-title{
    border: 2px solid #ddd;
    position: absolute;
    bottom: 0%;
    background: #fff;
    width: 100%;
    margin:0;
}
.img-title h3{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 1.6rem;
}
.img-title p{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
}

/*.jumbo {
    background-image: url('../images/dog.jpg');
    height: 30rem;
    max-width: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}*/

.top-news{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 0 2rem 0 2rem;
}
.top-news div{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    font-size: 1.4rem;
    padding: 1rem;
}
.headlines{
    
    max-width: 100%;
    height: auto;
    display: flex;
    border-bottom: 2px solid #ddd;
    padding:0 0 0 0;
    flex-direction: column;
}
.headlines div{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    border-bottom: 2px solid #ddd;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}
.sports-header{
    color: #ccc;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.weather{
    display: flex;
}
.weather img{
    width: auto;
    height: 10rem;
    object-fit: contain;
}
.weather div{
    text-align: center;
    position: relative;
    right: 0rem;
    font-size: 1.8rem;
    padding: 1rem 0 0 0;
}
.weather-grid{
    display: grid;
    padding: 1.5rem;
    position:inline-block;
    grid-template-columns: auto auto auto auto auto;
}
.weather-grid div{
    text-align: center;
    font-size: 1.2rem;
}
.weather-grid img{
    padding: 1.5rem;
    width: 90%;
    object-fit: contain;
}
.box-2{
    font-size: 1.2rem;
    color: #555;
    max-width: 100%;
}
.box-2 img{
    float: left;
    width: 13.5rem;
    height: auto;
    padding: 0 1.5rem 0 0;
}
.box-3{
    display: flex;
    flex-direction: column;
    
}
.box-3 div{
    padding: 2rem 0 0 0;
}
h4{
    margin:0;
}
.contacts{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    margin: 5rem 0 10rem 0;
    border-bottom:5px solid #ccc;
    border-top: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1.5rem;
    color: #444;
}
.full-page{
    padding-right: 2rem;
    max-width: 1400px
}
.container-grid{
    display: grid;
    grid-template-columns: auto auto;
}
.img-class{
grid-row: 1/2;
grid-column: 1/3;
position: relative;
}
.news-class{
    grid-row: 2/3;
    grid-column: 1/3;
    padding-left: 1rem;
}
.table-class{
    grid-row: 3/4;
    grid-column: 1/3;
    padding-left: 1rem;
}
.weather-class{
    grid-row: 4/5;
    grid-column: 1/3;
    padding-left: 1rem;
}
.footer-class{
    padding-left: 1rem;
}
.brighton-uk{
    color:#777;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.sunny{
    color:#333;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.pad-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align:left;
}
.pad-2{
    text-align:center;
}
.pad-3{
    text-align:center;
}
.pad-4{
    position:relative;
    padding: 0 1rem 0 0;
}
.pad-5{
    text-align: center;
}
.img-class img{
    object-fit: contain;
    width: 100%;
    position: relative;
}
@media only screen and (max-width: 1000px) and (min-width: 600px){
    .img-class{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .news-class{
        grid-row: 2/3;
        grid-column: 1/3;
        padding-left: 0.5rem;
    }
    .table-class{
        grid-row: 3/4;
        grid-column: 1/3;
        padding-left: 0rem;
    }
    .weather-class{
        grid-row: 1/2;
        grid-column: 2/3;
        padding-left: 0.5rem;
        max-width: 320px;
    }
    .weather img{
        width: auto;
        height: 4rem;
        object-fit: cover;
    }
    .img-title{
        border: 0;
        position: rel;
        bottom: 0;
        background:rgba(0, 0, 0, 0.6);
    }
    .img-title h3{
        color: #fff;
        padding: 1.2rem 0 1.2rem 0;
        font-size: 1.4rem;
        margin:0;
    }
    .img-title p{
        color: #fff;
        padding: 0 0.2rem 0 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
        margin:0;
    }
    h2{
        font-size: 3rem;
    }
    .brighton-uk{
        color:#777;
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sunny{
        color:#333;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .options{
        color: #777;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        left: 1rem;
        padding: 1.8vw 0 1.35vw 0;
    }
    .img-class img{
        object-fit: cover;
        height: 100%;
        position: relative;
    }
}
@media (max-width:600px){
    .img-class{
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .img-class img{
        object-fit: contain;
        position: relative;
    }
    .news-class{
        grid-row: 2/3;
        grid-column: 1/3;
    }
    .table-class{
        grid-row: 3/4;
        grid-column: 1/3;
    }
    .weather-class{
        grid-row: 4/5;
        grid-column: 1/3;
    }
    .weather img{
        width: auto;
        height: 4rem;
        object-fit: contain;
    }
    h2{
        font-size: 1.6rem;
    }
    .options{
        display: none;
    }
    .full-page{
        padding-right: 0;
    }
    .img-title h3{
        color: #fff;
        padding: 0.4rem 0 0 0.2rem;
        font-size: 1rem;
    }
    .img-title p{
        color: #fff;
        padding: 0.3rem 0 0.4rem 0.1rem;
        font-size: 0.6rem;
    }
    .img-title{
        border: 0;
        position: absolute;
        bottom: 0%;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
    }
    .img-logo{
        width: 2rem;
        object-fit: contain;
        padding-right: 0;
    }
    .top-news div{
    
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color:#555;
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right:0; 
    }
    .top-news{
        padding: 0 0.7rem 0 0;
    }
    .headlines div{
        font-size: 0.6rem
    }
    table{
        font-size: 0.6rem !important;
    }
    .sports-header{
        color: #aaa;
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    }
    .sports-header th{
        padding-top:1rem;
        padding-bottom: 1rem;
    }
    .brighton-uk{
        color:#777;
        font-size: 0.8rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sunny{
        color:#333;
        font-size: 0.6rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .weather-grid div{
        text-align: center;
        font-size: 0.8rem;
    }
    .box-2 img{
        float: left;
        width: 6.5rem;
        height: auto;
        padding: 0 0.4rem 0 0;
    }
    h4{
        margin:0;
        font-size: 1rem;
    }
    .footer-class{
        padding: 0 0.4rem 0 0.2rem;
    }
    .box-2{
        font-size: 0.8rem;
        color: #222;
        max-width: 100%;
    }
    .contacts{
        display: grid;
        text-align: center;
        grid-template-columns: auto auto auto auto auto;
        margin: 3rem 0 5rem 0;
        border-bottom:5px solid #ccc;
        border-top: 1px solid #ccc;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8rem;
        padding: 1rem;
        color: #444;
    }
}

