body {
    max-width: 2000px;
    margin:auto;
    padding: 2rem;
}
.container-header{
    border-bottom:2px solid #c7c7c7;
    margin-top: 80px;
}
.img-logo{
    width: 8vw;
    height: 8vw;
}
h2{
    display: inline;
    font-size: 6vw;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 20px;
    left:30px;
}
.options{
    color: #777;
    font-size: 1.5vw;
    font-family: Arial, Helvetica, sans-serif;
    left: 1rem;
    padding: 2vw 0 1.35vw 0;
}
.spt-opt{
    padding: 2vw;
    margin: 2vw;
}
.img-title{
    border: 2px solid #ddd;
}
.img-title h3{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 2vw;
}
.img-title p{
    color: #999;
    padding: 0 0 0 1rem;
    font-size: 1.2vw;
}

.jumbo {
    background-image: url('../images/dog.jpg');
    height: 30rem;
    max-width: 100%;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
}

.top-news{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding: 0 2rem 0 2rem;
}
.top-news div{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    font-size: 1.4rem;
    padding: 1rem;
}
.headlines{
    
    max-width: 100%;
    height: auto;
    display: flex;
    border-bottom: 2px solid #ddd;
    padding:0 0 0 0;
    flex-direction: column;
}
.headlines div{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color:#555;
    border-bottom: 2px solid #ddd;
    font-size: 1.2rem;
    padding: 1rem 0 1rem 0;
}
.sports-header{
    color: #ccc;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.weather{
    display: flex;
}
.weather img{
    width: auto;
    height: 20vw;
}
.weather div{
    text-align: left;
    position: relative;
    right: 0rem;
    font-size: 4vw;
    padding: 1.5rem 0 0 0;
}
.weather-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.weather-grid div{
    text-align: center;
    font-size: 1.2rem;
}
.weather-grid img{
    position: relative;
    padding: 0rem 0 1rem 3.2rem;
    height: auto;
    width:-webkit-fill-available;
}
.box-2{
    font-size: 1.2rem;
    color: #555;
    max-width: 100%;
}
.box-2 img{
    float: left;
    width: 13.5rem;
    height: auto;
    padding: 0 1.5rem 0 0;
}
.box-3{
    display: flex;
    flex-direction: column;
    
}
.box-3 div{
    padding: 2rem 0 0 0;
}
h4{
    margin:0;
}
.contacts{
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto auto;
    margin: 5rem 0 10rem 0;
    border-bottom:5px solid #ccc;
    border-top: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 1.5rem;
    color: #444;
}
@media(max-width:1000px){
    h2{
        font-size: 2.5rem;
    }
}
@media(max-width:1000px){
    .options{
        font-size: 0.9rem;
    }
}
@media(max-width:1000px){
    .img-title h3{
        font-size: 0.9rem;
    }
}
@media(max-width:1000px){
    .img-title p{
        font-size: 0.8rem;
    }
}
